<h1><%= @foods.count %> Results</h1>
<% @foods.each do |food| %>
  <ul class="food">
    <li class="name"><%= food[:name] %></li>
    <li class="upc"><%= food[:UPC] %></li>
    <li class="description"><%= food[:description] %></li>
    <li class="brand_owner"><%= food[:brand_owner] %></li>
    <li class="ingredients"><%= food[:ingredients] %></li>
  </ul>
<% end %>
